.numbers {
  background-color: rgb(255, 153, 153);
  font-family: Verdana, "DejaVu Sans", sans-serif;
} /* Add CSS Styling */

#id1 {
  color: rgb(51, 51, 255);
  font-size: 36px;
}

.cooler {
  font-size: 24px;
}

#id2 {
  background-color: rgb(153, 255, 153);
  font-weight: bold;
}
