* {
  margin: 10px;
  padding: 10px;
}

body {
  background: #eee;
  font-family: sans-serif;
}
.card .text,
#buttonid {
  /* padding: 10px;
  margin: 10px; */
  margin-left: 5px;
  margin-right: 5px;
}
.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  font-size: 16px;
  padding: 5px;
  padding-top: 10px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 5px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  /* margin-top: 20px;
  margin-bottom: 5px; */
  margin-bottom: 5px;
  padding-left: 160px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#buttonid {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}
#anda {
  padding-left: 34px;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}
